body {
    font-family: serif;
    font-size: 1em;
}

table {
    border: solid 1px #000;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 5px;
}

th {
    background-color: #000;
    border: solid 1px #000;
    color: #fff;
}

#blink {
    color: #FF0000;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}

#footer {
    border: dashed 1px #222;
    padding: 0 15px;
}

#header > h1 {
    font-family: sans-serif;
    font-size: 3.5em;
    text-align: center;
}

#header ul {
    list-style-type: none;
}

#header li {
    display: inline;
}

.container {
    margin: 0 auto;
    max-width: 720px;
}

.green {
    background-color: #80FF80;
}

.red {
    background-color: #FF8080;
}

.yellow {
    background-color: #FFFF80;
}
